body {
	margin: 0;
}

.game-container {
	height: 100vh;
	position: relative;
	width: 100%;
}

.road {
	background-color: gray;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 400px;
}

.btn-stat {
	bottom: 30px;
	position: absolute;
	right: 50px;
}