body {
  margin: 0;
}

.game-container {
  height: 100vh;
  position: relative;
  width: 100%;
}

.road {
  background-color: gray;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 400px;
}

.lines {
  margin-left: auto;
  margin-right: auto;
  width: 20px;
}

.lines div {
  background-color: white;
  height: 13vh;
  margin-bottom: 12vh;
}

.btn-stat {
  bottom: 30px;
  position: absolute;
  right: 50px;
}