.car {
	position: absolute;
}

.car .car-body {
	height: 75%;
}

.car .car-back {
	border-color: transparent;
	border-style: solid;
	box-sizing: border-box;
}

.car .front-glass {
	border-color: black transparent;
	border-style: solid;
	box-sizing: border-box;
	left: 6%;
	position: absolute;
	top: 23%;
	width: 88%;
}

.car .top-glass {
	background-color: black;
	height: 18.46%;
	left: 14%;
	position: absolute;
	top: 44.62%;
	width: 72%;
}

.car .back-glass {
	border-color: black transparent;
	border-style: solid;
	box-sizing: border-box;
	left: 10%;
	position: absolute;
	top: 75.38%;
	width: 80%;
}

.car .left-front-glass, .car .right-front-glass {
	border-style: solid;
	box-sizing: border-box;
	position: absolute;
	top: 24.6%;
	width: 8%;
}

.car .left-front-glass {
	border-color: transparent transparent black black;
	left: 2%;
}

.car .right-front-glass {
	border-color: transparent black black transparent;
	right: 2%;
}

.car .left-glass, .car .right-glass {
	background-color: black;
	height: 20%;
	position: absolute;
	top: 43.077%;
	width: 8%;
}

.car .left-glass {
	left: 2%;
}

.car .right-glass {
	right: 2%;
}

.car .left-back-glass, .car .right-back-glass {
	border-color: black transparent;
	border-style: solid;
	box-sizing: border-box;
	position: absolute;
	top: 63.077%;
	width: 8%;
}

.car .left-back-glass {
	left: 2%;
}

.car .right-back-glass {
	right: 2%;
}